
<header>
    <nav class="top-bar">
        <div class="logo">
            
        </div>
        <ul class="nav-links">
            
        </ul>
        <div class="nav-actions">
            
        </div>
    </nav>
</header>

@code {

    

}