/* Main Style */
.button[b-bgm9h2wfuq] {
    all: unset;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 0.5rem;
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 12px;
    transition: 0.2s linear;
}

/* Variations Style */

.Primary[b-bgm9h2wfuq] {
    background-color: rgb(24, 24, 27);
    color: #ffffff;
}

.Secondary[b-bgm9h2wfuq] {
    background-color: rgb(242, 242, 243);
    color: #000000;
}

.Destructive[b-bgm9h2wfuq] {
    background-color: rgb(211, 34, 30);
    color: #ffffff;
}

.Outline[b-bgm9h2wfuq] {
    padding: 9px 19px;
    background-color: transparent;
    border: rgba(228,228,231,0.91) 1px solid;
    color: #000000;
}

.Ghost[b-bgm9h2wfuq] {
    padding: 10px 20px;
    background-color: transparent;
    color: #000000;
}

/* Hover Style */

.Primary:hover[b-bgm9h2wfuq] {
    background-color: rgba(24, 24, 27, 0.90);
}

.Secondary:hover[b-bgm9h2wfuq] {
    background-color: rgba(242, 242, 243, 0.90);
}

.Destructive:hover[b-bgm9h2wfuq] {
    background-color: rgba(211, 34, 30, 0.90);
}

.Outline:hover[b-bgm9h2wfuq] {
    background-color: rgb(240, 240, 241);
}

.Ghost:hover[b-bgm9h2wfuq] {
    background-color: rgb(242, 242, 243);
}